.no-select {
    user-select: none;
}
.bg-img-1 {
    background-size: cover;
    background-image: url('@/assets/image/1.png');
}
.bg-img-2 {
    background-size: cover;
    background-image: url('@/assets/image/2.png');
}
.bg-color-hover:hover {
    background-color: #c2e7ff;
}
.bg-white {
    background-color: #fff;
}

.avatar {
    &:hover {
        cursor: pointer;
    }
}

.user-card_bg {
    background: linear-gradient(to bottom, #EEEEEE 0, #EEEEEE 25%, white calc(25% + 1px), white 100%);
}

.user-card {
    position: fixed;
    left: 88px;
    top: 0px;
    width: 250px;
    height: 345px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .user-card-name {
        min-height: 24px;
        margin-top: 25px;
        font-weight: bold;
    }
}

.tab-icon-wrap {
    &:hover {
        background: var(--v-theme-on-background);
        font-variation-settings: "wght" 600,"opsz" 24;
    }
}

.c-list-title {
    display: inline-block;
    width: 200px;
}