.no-select {
    user-select: none;
}

.bg-img-1 {
    background-size: cover;
    background-image: url('@/assets/image/6.jpg');
}

.bg-img-2 {
    height: calc(100vh - 126px);
    position: sticky;
    top: 64px;
    background-size: cover;
}

.cover-img-1 {
    background-image: url('@/assets/image/8.png');
}

.cover-img-2 {
    background-image: url('@/assets/image/9.png');
}

.cover-img-3 {
    background-image: url('@/assets/image/10.png');
}

.cover-img-4 {
    background-image: url('@/assets/image/11.png');
}

.hv-100 {
    height: 100vh;
}

.max-hv-100 {
    max-height: 100hv;
    overflow-y: hidden;
}

.cover-item {
    border-radius: 1.5rem;
    border: 1px solid white;
    &:hover {
        background-color: #c2e7ff;
        border: 1px solid #c2e7ff;
        cursor: pointer;
    }
    &:active {
        border-radius: 2.5rem;
        border: 1px solid black;
    }
}

.cover-inner {
    width: 500px;
}

.bg-colum {
    background-color: var(--light-bg-blue);
}

.avatar {
    &:hover {
        cursor: pointer;
    }
}

.user-card {
    position: fixed;
    right: 60px;
    top: 30px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99999999;
    .user-card-name {
        min-height: 24px;
        margin-top: 10px;
        font-weight: bold;
    }
}

.tab-icon-wrap {
    &:hover {
        background: var(--v-theme-on-background);
        font-variation-settings: "wght" 600,"opsz" 24;
    }
}

.c-list-title {
    display: inline-block;
    width: 200px;
}