@media (prefers-color-scheme: dark) {
    .bg-color-hover:hover {
        background-color: #073550;
    }
    .bg-img-1 {
        background-size: cover;
        background-image: url('@/assets/image/7.jpg');
    }
}